@import url("styles/header.css");
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}.cabeçalho {
    background-color: var(--branco);
}
:root {
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --laranja: #eb9b00;
  }
